{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "20",
        "browsers": [">0.2%", "not dead", "not op_mini all"]
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js",
            ".tmp/**/*"
          ]
        }]
      ]
    },
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "browsers": [">0.2%", "not dead", "not op_mini all"]
          }
        }]
      ]
    }
  }
}
